/* Navigation
---------------------------------*/

@media (max-width: 550px) { 
    .portfolio .else {
        top: 45px;
    }
    
    .portfolio .else:after {
        margin-top: 5px;
    }
    
    .skills .else {
        top: 50px;
    }
    
    .background-text {
        font-size: 100px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .project-card {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.10);
        border-top: 1px solid rgba(128, 128, 128, 0.10);
    }
}

@media (max-width: 767.98px) {
    main .navbar-toggler {
        margin-left: auto;
        margin-right: 0;
    }
    .navbar-toggler i {
        color: black;
    }
    button {
        cursor: default;
    }
    main .navbar-brand {
        position: absolute;
        left: 0;
        padding-left: 20px;
        padding-top: 10px;
        top: 0;
    }
    .bord {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
    }
    main .navbar ul li {
        padding: 5px;
        text-align: center !important;
    }
    main .navbar-brand {
        top: 3px;
    }
    .navbar-brand span {
        font-size: 20px;
    }
    .navbar-brand p {
        font-size: 14px;
    }
    .head h1 {
        font-size: 40px;
    }
    .head p {
        font-size: 14px;
    }
    .else-card,
    .else-card:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .motivation h2 {
        font-size: 40px;
    }
    
    .hire h5 {
        padding-top: 50px;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .else-card:hover {
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 1199.98px) {}
