@media (max-width: 550px) {
    .portfolio .else {
        top: 45px;
    }

    .portfolio .else:after {
        margin-top: 5px;
    }

    .skills .else {
        top: 50px;
    }

    .background-text {
        font-size: 100px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .project-card {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.10);
        border-top: 1px solid rgba(128, 128, 128, 0.10);
    }
}

@media (max-width: 767.98px) {
    .bord {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
    }
    .head h1 {
        font-size: 40px;
    }
    .head p {
        font-size: 14px;
    }
    .else-card,
    .else-card:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .motivation h2 {
        font-size: 40px;
    }

    .hire h5 {
        padding-top: 50px;
    }
}

@media (min-width: 991.98px) {
    .nav-link:hover {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 991.98px) {
    .else-card:hover {
        -webkit-transform: none;
        transform: none;
    }
    .navbar-nav {
        text-align: center !important;
    }
    .navbar-brand {
        margin-top: 3px;
    }
    .navbar-brand span {
        font-size: 21px;
    }
    .navbar-brand p {
        font-size: 14px;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 342px) {
    .background-text {
        display: none;
    }
    html {
        overflow-x: hidden;
    }
}
