/* Header
---------------------------------*/
header {
    background-image: url(../image/pw_maze_black_2X.png);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 150px;
    color: white;
    margin-bottom: -20px;
}

.col {
    margin-bottom: 50px;
}

.head .row {
    margin-bottom: 20px;
}

.head h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -px;
    margin: 0 0 22px 0;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.head p {
    font-size: 14px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.head .button {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #d82a2a;
    border: #d82a2a 1px solid;
    padding: 15px 35px;
    border-radius: 5%;
}

.head .button:hover {
    background: #eb2c2c;
    color: #fff;
    border: #eb2c2c 1px solid;
}

/* Navigation
---------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    min-height: 60px;
    background-color: white;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav li a {
    color: #312D3B;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

a,
a:hover,
a:active {
    outline: 0px !important;
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: #ed6363;
}

.navbar-toggler i {
    font-size: 35px;
}

.navbar-brand {
    font-weight: 700;
    text-transform: none;
    margin: 0;
    position: relative;
    top: -3px;
}

.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand p {
    font-weight: 400;
    position: relative;
    font-size: 17px;
    top: 17px;
    padding-left: 5px;
}

.navbar-brand p i {
    color: #d82a2a;
}

* {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

#nav-icon3 {
    top: 8px;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    outline: none;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* About me
---------------------------------*/

.about-me {
    padding-top: 100px;
    background-color: white;
}

.about-me-introduction {
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}

.about-me-introduction h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
}

.about-me-introduction h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.about-me-introduction span {
    font-family: 'Open Sans', sans-serif;
}

.image img {
    min-width: 100%;
}

.about-me-hello {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
    background-color: #d82a2a;
    border-radius: 5%;
}

.about-me-details {
    padding-top: 20px;
    font-size: 14px;
}

.about-me-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-me-details ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-me-details ul li .col-4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.about-me-introduction .about-me-hello:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #d82a2a;
}

.margins {
    margin: 0;
    padding: 40px;

}

/* Skills
---------------------------------*/

.skills {
    margin-top: 100px;
    background-color: #fafafa;
    padding-bottom: 100px;
}

.padd-50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.skills h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.skills h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
}

.skills img {
    padding: 0px;
    width: 100%;
    max-width: 600px;
}

.skills i {
    font-size: 36px;
}

.skills .skills-desc {
    margin-bottom: 20px;
}

.featured-box,
.featured-box .col-1,
.featured-box .col-11 {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.skills .col-11 {
    margin-left: 15px;
}

.featured-box {
    margin-bottom: 5px;
    font-size: 14px;
}

.else-card {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.else-card:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.else-card-des h1 {
    padding-top: 20px;
    font-size: 26px;
}

.else-card-des h2 {
    font-size: 14px;
}

.else {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    font-size: 45px;
    color: #000;
    z-index: 1;
    font-weight: 500;
    top: 80px;
    position: relative;
    display: inline-block;
}

.else:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background: #d82a2a;
    top: 100%;
    left: 0;
    margin-top: 10px;
}

.portfolio .else {
    top: 70px;
}

.portfolio .else:after {
    margin-top: 5px;
}

.background-text {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    color: black;
    opacity: .05;
    font-weight: 500;
    font-size: 140px;
    letter-spacing: 10px;
}

.intro {
    position: relative;
    text-align: center !important;
    margin-bottom: 200px;
}

/* Portfolio
---------------------------------*/

.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}

.portfolio-word {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-word h1 {
    font-size: 66px;
    line-height: 1.1;
}

.text-nowrap {
    white-space: nowrap;
}

.project-card {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    margin-bottom: 50px;
}

.project-card .project-image {
    background-color: #fafafa;
}

.project-card .project-images {
    background-color: #fafafa;
    height: 400px;
}

.project-card .project-images img,
.project-card .project-image img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-info {
    padding: 30px !important;
}

.project-info h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}

.project-info p {
    font-size: 14px;
}

.project-info ul {
    padding: 0;
    list-style: none;
}

.project-info ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.project-info .stack {
    font-weight: 700;
}

.project-info-link i {
    margin-right: 5px;
}

.project-info-link {
    font-size: 14px;
}

/* Motivation
---------------------------------*/

.motivation {
    height: 100vh;
    background-image: url(../image/light-bulb-1246043_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
}

.motivation h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.motivation h2 span {
    color: #eb2c2c;
}

/* Hire
---------------------------------*/

.hire {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 225px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
}

.hire img {
    width: 100%;
}

.hire h5 {
    margin-bottom: 1rem !important;
    font-size: 30px;
}

.hire h3 {
    margin-bottom: 1.8rem !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.hire p {
    font-size: 18px;
}


/* footer
---------------------------------*/

footer h1 {
    font-family: 'Open Sans', sans-serif;
}

footer p {
    font-size: 14px;
    margin: 0;
}

main {
    position: relative;
    z-index: 1;
    margin-bottom: 180px;
    background-color: white;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #355c7d;
    color: white;
}

.footer navbar-brand span {
    font-size: 14px;
}

.footer navbar-brand i {
    color: #f76262;
}