/* Header
---------------------------------*/

header {
    background-image: url(../image/pw_maze_black_2X.png);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 150px;
    color: white;
    margin-bottom: -20px;
}

.col {
    margin-bottom: 50px;
}

.head .row {
    margin-bottom: 20px;
}

.head h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -px;
    margin: 0 0 22px 0;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.head p {
    font-size: 14px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.head .button {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #d82a2a;
    border: #d82a2a 1px solid;
    padding: 15px 35px;
    border-radius: 5%;
}

.head .button:hover {
    background: #eb2c2c;
    color: #fff;
    border: #eb2c2c 1px solid;
}

/* Navigation
---------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: white !important;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: black;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 4px);
    transform: rotate(45deg) translate(5px, 4px);
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

.navbar-nav a {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-weight: 700;
    text-transform: none;
    margin: 0;
    position: relative;
    top: -3px;
}

.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand p {
    font-weight: 400;
    position: relative;
    font-size: 17px;
    top: 17px;
    padding-left: 5px;
}

.navbar-brand p i {
    color: #d82a2a;
}

.nav-link:hover {
    color: #d82a2a;
}

* {
    margin: 0;
    padding: 0;
}

/* About me
---------------------------------*/

.about-me {
    padding-top: 100px;
    background-color: white;
}

.about-me-introduction {
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}

.about-me-introduction h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
}

.about-me-introduction h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.about-me-introduction span {
    font-family: 'Open Sans', sans-serif;
}

.image img {
    min-width: 100%;
}

.about-me-hello {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
    background-color: #d82a2a;
    border-radius: 5%;
}

.about-me-details {
    padding-top: 20px;
    font-size: 14px;
}

.about-me-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-me-details ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-me-details ul li .col-4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.about-me-introduction .about-me-hello:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #d82a2a;
}

.margins {
    margin: 0;
    padding: 40px;

}

/* Skills
---------------------------------*/

.section-skill {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fafafa;
}

.theme-after:after {
    background-color: #d82a2a;
}

.section-skill-title label {
    position: relative;
    color: #292929;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0px 10px 30px;
}

.section-skill-title label:after {
    position: absolute;
    left: 0;
    content: "";
    width: 20px;
    float: left;
    height: 2px;
    top: 10px;
}

.section-skill-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #292929;
    font-size: 36px;
    margin: 0;
    padding: 0 0 25px;
    letter-spacing: 1px;
}

.section-skill-title .theme-color {
    color: #d82a2a;
}

.section-skill-item {
    max-height: 180px;
    min-height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 18px 32px 0 rgba(0,0,0,.03);
            box-shadow: 0 18px 32px 0 rgba(0,0,0,.03);
    z-index: 1;
}

.no-left-border {
    border-left: none !important;
}

.border-abso:nth-of-type(odd) .section-skill-item:after {
    position: absolute;
    content: "";
    height: 223px;
    border: 2px dashed #dbdbdb;
    border-right: none;
    top: 49%;
    width: 50px;
    left: -15px;
    z-index: -1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.border-abso:nth-of-type(even) .section-skill-item:after {
    position: absolute;
    content: "";
    height: 223px;
    border: 2px dashed #dbdbdb;
    border-left: none;
    top: 49%;
    width: 50px;
    right: -15px;
    z-index: -1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.section-skill-item p {
    margin-top: 10px;
    font-size: 14px;
}

.item-name {
    color: #d82a2a;
}

.item-name i img {
    position: relative;
    max-width: 68.85px;
    max-height: 68.85px;
    left: -14px;
    bottom: -2px;
    margin: 0;
    padding: 0;
}

.item-name i{
    position: relative;
    font-size: 36px;
    margin-left: 30px;
}

.item-name i:after {
    position: absolute;
    content: "";
    top: -13px;
    left: -17px;
    right: 0;
    bottom: 0;
    transform: rotate(45deg);
    padding: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.item-name i:hover::after {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.border-abso:nth-of-type(3) .item-name i:after {
    top: -12px;
    left: -14px;
}
.border-abso:nth-of-type(4) .item-name i:after {
    top: -12px;
    left: -15px;
}

.border-abso:nth-of-type(5) .item-name i:after {
    top: -12px;
    left: -9px;
}

.border-abso:nth-of-type(6) .item-name i:after {
    top: -11px;
    left: -16px;
}

.border-abso:nth-of-type(7) .item-name i:after {
    top: -11px;
    left: -13px;
}

.border-abso:nth-of-type(8) .item-name i:after {
    top:  0px;
    left: -11px;
    max-width: 36px;
    max-height: 36px;
}

.border-abso:nth-of-type(8) .item-cont,
.border-abso:nth-of-type(8) .item-cont p {
    margin-left: 0;
}

.border-abso:nth-of-type(9) .item-name i:after {
    top: -11px;
    left: -14px;
}

.border-abso:nth-of-type(10) .item-name i:after {
    left: -15px;
}

.border-abso:nth-of-type(11) .item-name i:after {
    left: -12px;
}

.border-abso:nth-of-type(12) .item-name i:after {
    left: -19px;
}

.border-abso:last-child .section-skill-item:after {
    border: none;
}

.item-cont {
    margin-left: 15px;
    text-align: center !important;
    width: 100%;
}

.item-cont span{
    font-weight: 700;
    color: #292929;
    width: 100%;
}

.item-cont p {
    margin-left: 30px;
    text-align: justify !important;
}

.skills {
    margin-top: 100px;
    background-color: #fafafa;
    padding-bottom: 100px;
}

.padd-50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.skills h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.skills h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
}

.skills img {
    padding: 0px;
    width: 100%;
    max-width: 600px;
}

.skills i {
    font-size: 36px;
}

.skills .skills-desc {
    margin-bottom: 20px;
}

.skills .col-11 {
    margin-left: 15px;
}

.else {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    font-size: 45px;
    color: #000;
    z-index: 1;
    font-weight: 500;
    top: 80px;
    position: relative;
    display: inline-block;
}

.else:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background: #d82a2a;
    top: 100%;
    left: 0;
    margin-top: 10px;
}

.portfolio .else {
    top: 70px;
}

.portfolio .else:after {
    margin-top: 5px;
}

.background-text {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    color: black;
    opacity: .05;
    font-weight: 500;
    font-size: 140px;
    letter-spacing: 10px;
}

.intro {
    position: relative;
    text-align: center !important;
    margin-bottom: 200px;
}

/* Portfolio
---------------------------------*/

.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}

.portfolio-word {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-word h1 {
    font-size: 66px;
    line-height: 1.1;
}

.text-nowrap {
    white-space: nowrap;
}

.project-card {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    margin-bottom: 50px;
}

.project-card .project-image {
    background-color: #fafafa;
}

.project-card .project-images {
    background-color: #fafafa;
    height: 400px;
}

.project-card .project-images img,
.project-card .project-image img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-info {
    padding: 30px !important;
}

.project-info h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}

.project-info p {
    font-size: 14px;
}

.project-info ul {
    padding: 0;
    list-style: none;
}

.project-info ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.project-info .stack {
    font-weight: 700;
}

.project-info-link i {
    margin-right: 5px;
}

.project-info-link {
    font-size: 14px;
}

/* Motivation
---------------------------------*/

.motivation {
    height: 100vh;
    background-image: url(../image/light-bulb-1246043_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
}

.motivation h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.motivation h2 span {
    color: #eb2c2c;
}

/* Hire
---------------------------------*/

.hire {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 225px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
}

.hire img {
    width: 100%;
}

.hire h5 {
    margin-bottom: 1rem !important;
    font-size: 30px;
}

.hire h3 {
    margin-bottom: 1.8rem !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.hire p {
    font-size: 18px;
}


/* footer
---------------------------------*/

footer h1 {
    font-family: 'Open Sans', sans-serif;
}

footer p {
    font-size: 14px;
    margin: 0;
}

main {
    position: relative;
    z-index: 1;
    margin-bottom: 180px;
    background-color: white;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #355c7d;
    color: white;
}

.footer navbar-brand span {
    font-size: 14px;
}

.footer navbar-brand i {
    color: #f76262;
}
